.facebook-title {
    color: #fff;
    background-color: #1b74e4;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 8px 16px;
}

.facebook-title:hover {
    background-color: #0054bb;
}

.fb-group {
    padding: 16px;
}

.heading {
    font-size: 2.8rem;
}

.desc {
    font-size: 1.6rem;
}