* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.content {
    padding: 16px;
}

.heading {
    font-size: 2.8rem;
}

.posts-list {
    margin-top: 32px;
}

.post-item {
    border: 2px solid #ccc;
    border-radius: 16px;
    padding: 12px 14px;
    margin-bottom: 16px;
}

.post-item .title a {
    color: #333;
    text-decoration: none;
    font-size: 2rem;
}

.post-item .desc {
    color: #444;
    font-size: 1.6rem;
    margin-top: 10px;
}

.post-item .min-read {
    color: #666;
    font-size: 1.4rem;
    margin-top: 10px;
}