.box {
    width: 500px;
    height: 250px;
    background-color: #ccc;
    position: absolute;
}

.box-child {
    background-color: rgba(128, 0, 128, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}