.box {
    /*
    my css:
    width: 100%;
    height: 100%;
    background-image: url(https://fullstack.edu.vn/assets/images/f8_avatar.png);
    background-size: 100%;
    background-repeat: no-repeat; 
    */
    width: 500px;
    height: 500px;
    background-image: url(https://fullstack.edu.vn/assets/images/f8_avatar.png);
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    border: 20px dashed purple;
    padding: 20px;
    background-origin: border-box;
}