.container {
    width: 100vw;
    height: 100vh;
    background-color: purple;
}

.container::after {
    content: "";
    display: block;
    width: 150px;
    height: 100px;
    background-color: yellow;
}