/**
* Mở tab TRÌNH DUYỆT và thử thay đổi
* giá trị font-size ở đây để khám phá bạn nhé
*/
html {
    font-size: 62.5%;
    background-color: rgb(0, 0, 0);
}

#heading {
    font-size: 20px;
}

.sub-heading {
    font-size: 16px;
}

.text,
ol li {
    font-size: 14px;
}